{% extends 'base.html' %}

{%  block content %}
<div class="container">
  <div class="jumbotron">
    {% if liste_dico_msg|length == 1 %} {# pour l'envoi d'un seul message #}
        
     
        {% if valide == '0' %}
        <div class="alert alert-info">
          <strong>Info!</strong> <p>  {{message.sender}} votre message <strong>{{message.msg}}</strong>  à été envoyé au {{ message.numero }}  </p> 
         </div>
        {% else %}
          <div class = "alert alert-danger">
             <strong>Info!</strong> <p>  {{message.sender}} votre message <strong>{{message.msg}}</strong>  n'a pas été envoyé au {{ message.numero }}! Contactez l'administrateur </p>      
         </div>
          {% endif %}
    
    {% else %}
    
          {% if liste_numero_envoi_reussi|length !=0  %}    
             <div class="alert alert-info">
                 <strong>Info!</strong> <p>  {{message.sender}} vos  <strong>{{ liste_numero_envoi_reussi|length }} </strong> ont  été envoyé avec succés! Merci de votre confiance </p> 

             </div>
          {% elif liste_numero_envoi_echec|length !=0 %}
    
              <div class = "alert alert-danger">
                  <strong>Info!</strong> <p>  {{message.sender}}  <strong> {{liste_numero_envoi_echec|length}}</strong>  n'ont pas été envoyé !Merci de  Contacter l'administrateur </p>      

              </div>
           {% endif%}
    
    {% endif %}
    
    <div class="btn-group " >
	 <a href="{% url "lister_message_multi" %}" class="btn btn-info" role="button">Retour</a>
       </div>
       {#{{reponse}}#}

  </div>
  
 </div>
   
{% endblock %}
